
body{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	background: url("pexels-photo-1268477.jpeg");
	background-size: cover;
}

.login-box{
	width: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 3px solid #000000;
	margin-bottom: 25px;
	padding: 13px 0;
	color: black;
}


.drop-box select{
	float: left;
	background: transparent;
	line-height: 1;
	border: 0;
	padding: 7px;
	border-radius: 0;
	width: 100%;
	position: relative;
	z-index: 10;
	font-size: 1em;	
	border: 1px solid #000000;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #000000;
}

.textbox ::-webkit-input-placeholder { 
  color: black;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: black;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.button{
	width: 50%;
	background: none;
	border: 1px solid #000000;
	color: black;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
}
